<!DOCTYPE html>
<html lang="en">
  <head>
    <bootstrap5_css />
    <jquery />
    <bootstrap5_js />
    <style_css />

    <meta charset="UTF-8" />
    <title>FarmConnect - <var /></title>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">FarmConnect</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#mynavbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link <var />" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <var />" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <var />" href="/app/map">Launch App</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="text" placeholder="Search" />
            <button class="btn btn-light" type="button">Search</button>
          </form>
        </div>
      </div>
    </nav>

    <br />
    <br />
    <br />

    <var />

  </body>
</html>
